.pie_pagina{
    background-color: black;
    color: azure;
}

body{
    background-color: white;


}

.nav{
    background-color: gray;
    height: 4rem;
    font-size: 1.6rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

.burger{
    background-color: white;
}